<body>
    <div class="container-lg border-top">
        <footer class="d-flex flex-wrap justify-content-between align-items-center my-4"> 
            <div class="col d-flex align-items-center justify-content-center"> 
                <span class="text-center text-body-secondary poppins-regular">
                © 2025 | Syafaat Saat
                </span> 
            </div>
        </footer>
    </div>
</body>

</html>