<% let tabTitle = "new thought" %>
<%- include("partials/header.ejs"), {title: tabTitle} %>

<header> 
    <nav class="navbar">
        <div class="container-md border-bottom py-3 mb-4">
            <a href="/" class="logo erase-link-underscore"><span>thoughts.</span></a>
            <nav class="nav gap-3">
                <form action="/">
                    <input type="submit" class="btn btn-secondary poppins-regular" value="discard" />
                </form>
                <button type="submit" class="btn btn-success poppins-regular" form="newPost">done</button>
            </nav>
        </div>
    </nav>
</header>

<div class="container-md">
    <form action="/create" method="post" id="newPost">
        <div class="mb-3">
            <textarea type="text" class="border-0 shadow-none w-100 no-resize-textarea title" id="title" name="title" placeholder="Title" required></textarea>
        </div>
        <div class="mb-3">
            <textarea type="text" class="border-0 shadow-none w-100 no-resize-textarea content" id="content" name="content" placeholder="Express your thoughts..." required></textarea>
        </div>
    </form>
</div>

</main>
</body>
</html>